.container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	margin: 10px;
	border: 2px dashed blue;
}

header>*:first-child {
	align-self: stretch;
}

h1 {
	font-family: 'Dr Sugiyama', cursive;
	font-size: 6em;
	align-self: stretch;
}

h2 {
	font-family: 'Unica One', cursive;
}

.navbar {
	background-color: red;
	display: flex;
	flex-direction: row;
	height: 30px;
	justify-content: space-around;
}

nav li {
	display: inline-block;
}

